<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Item</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<header>
  <!-- Include Header -->
  <%- include('partials/header') %>
 </header>
<body>
  <div class="container">
    <h1>Add New Item</h1>
    <form action="/wishlist/add" method="post">
      <div class="form-group">
        <label for="name">Item Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="amazonLink">Amazon Link:</label>
        <input type="text" id="amazonLink" name="amazonLink" required>
      </div>
      <div class="form-group">
        <label for="image">Image URL (optional):</label>
        <input type="text" id="image" name="image">
      </div>
      <div class="form-group">
        <label for="price">Price (Rs.) (optional):</label>
        <input type="number" id="price" name="price">
      </div>
      <button type="submit" class="btn-submit-add">Add Item</button>
    </form>
  </div>
</body>
</html>
